* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-padding-top: 32px;
	scroll-behavior: smooth;
	text-decoration: none;
    font-family: "Poppins",sans-serif;


}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
html::-webkit-scrollbar {
    display: block;
    width: 10px;
}
html::-webkit-scrollbar-track {
    background-color: var(--scrollBar-color);
}
    
html::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background-color:#003B62;
   
}
li {
	list-style-type: none;
}
input {
	border: none;
	cursor: pointer;
}


.conteiner {
	max-width: 1440px;
	margin: 0 auto;
}
.conteiner--second {
	max-width: 100% ;
	margin: 0 auto;
}
.none {
	display: none !important;
}
.scroll{
	transition:  all 0.2s linear;
}
.scroll--hidden {

	overflow-y: hidden;
	transition:  all 0.2s linear;
}

.section__title {
   text-align: center;
   font-size: clamp(16px, 0.421rem + 4.15vw, 36px);
   margin: 50px 0;
}
