.hero {
	overflow: hidden;
}
.hero__conteiner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: clamp(0rem, -0.357rem + 1.79vw, 1.25rem);
    overflow: hidden;
   
}
.hero__block--content {
	margin-top: clamp(0.625rem, -1.432rem + 5.06vw, 3.125rem);
	max-width: 470px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap:20px;


}
.hero__block--img {
	flex: 1 0  auto;
}
.hero__block--img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;

}
.hero__title {
    font-size: clamp(1.625rem, 1.446rem + 0.89vw, 2.25rem);
    font-weight: 600;
    line-height: normal;
}
.hero__list {
	display: flex;
	flex-direction: column;
	gap:10px;
}
.list__item {
    padding-left: 20px;
    position: relative;
    color: var(--list-item-color);
    font-size: 20px;   
}
.list__item::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0;
	left: 0;
	display: flex;
	background: url('../Hero/img/galga.svg');
	background-position: center;
	color:var( --list-item-after-color);
	font-size: 20px;

}
.hero__btn {
	padding: 15px 25px;
	background:var(--hero-btn-bg);
	color: var( --hero-btn-color);
	border-radius: 10px;
	cursor: pointer;
	transition: background-color .2s ease;
}
.hero__btn:hover {
	transition: background-color .2s ease;
	background-color: var( --hero-btn-bg-hover);
	color: var(--hero-btn-color-hover);
	border:1px solid #000;

}
@media(max-width: 650px){
   .hero__conteiner {
  	display: grid !important;
  	grid-template-columns: 1fr !important;
  	justify-content: center;
  	gap:5px;
  }
  .hero__block--content {
  	max-width: 100% !important;
  	justify-content: center;
  	align-items: unset !important;
  	

  }
  .hero__title {
  	text-align: center;
  }
  .hero__block--img {
  	
	  grid-column: 1;
	  grid-row: 1;
	  padding: 10px 0;
	}
}
